<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
<head >
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
<title >Usuario registrado</title>
</head>
<body>
<h1>Datos de usuario</h1>
<form id='sampleform' method='post' action='' >
<p>
Nombre:
</p>
<p>
Apellidos:
</p>
<p>
Edad:
</p>
<p>
DNI:
</p>
<p>
Email:
</p>
<p>
<input type='submit' name='Modificar' value='Modificar datos' />
<input type='submit' name='Cerrar' value='Cerrar sesión' />
</p>
</form>
</body>
</html>